<div class="container-fluid" style="background-color:transparent; ">
    <mat-card class="container bg-card">
        <mat-card-header>
            
            <mat-card-title class="header">
                About Me
            </mat-card-title>
        </mat-card-header>
        <mat-card-content >
            <img mat-card-md-image class="my-img"  src="/assets/template/welcome/Jitendra.jpg" alt="Jitendra img">
        
            <p class="mystyle">
                My name is Jitendra Patil. I was born and brought up in Burhanpur and I am presently based out of same location.
                My highest degree is a full time B.Tech in Computer Science from Sushila Devi Bansal College of Engineering, Indore that will complete in Aug-2021. My CGPA out of 10 is 7.56.
                My Computer Science degree(s) is giving a range of skills that I feel are crucial for my career and life. Despite limited exposure, I have understood that hard work and determination can make anything possible. I am ready to do that. Also, I am trying to develop a habit of reading current trends and industry news.
                <br>
            
            <mat-expansion-panel hideToggle style="background-color: transparent; color: transparent;">
                <mat-expansion-panel-header >
                <mat-panel-title>
                    Know more...
                </mat-panel-title>
                <mat-panel-description>
                    click here 
                </mat-panel-description>
                </mat-expansion-panel-header>
                <p class="mystyle">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I interned with Affimintus Technologies, indore for 3 Month(s) in total and contributed to the Eshop. My project work(s) lasted for 3 Month(s) in total as I worked on TechCrate. I would like to add that I am certified in 3 Month(s) Core Java certification form Affimintus technology.
                    When it comes to schooling, I secured 80.0% in my XIIth Madhya Pradesh Senior Secondary examination in 2017 in Hindi medium with 96 marks in Maths and 77 marks in English. In Xth Madhya Pradesh Board, I got 85.0%. During my schooling, I developed strong communication skills and also had the opportunity to participate and excel in several extracurricular activities. Because of these exposures and experiences during my academic years, I have gradually been able to develop effective communication skills. So, I can interact freely within a team.
                    To add, I am also skilled in C, Java and MySQL. I can speak in Marathi.
                    Lastly, I am a quick learner and believe in learning from my past mistakes. This is a virtue as it can take me ahead in both my professional and personal life.

                </p>
            </mat-expansion-panel>

        </p>
        <h3  style="font-family: 'Times New Roman', Times, serif;color: red;">Hobbies:</h3>
                
            <div class="d-flex">
                 <div class="col-lg-3">
                    <span style="font-size: 25px;">
                        <mat-icon>sports_cricket</mat-icon>
                        Cricket
                    </span>
                 </div>  
                 <div class="col-lg-3">
                    <span style="font-size: 25px;">
                        <mat-icon>two_wheeler</mat-icon>
                        Riding
                    </span>
                 </div> 
                 <div class="col-lg-3">
                    <span style="font-size: 25px;">
                        <mat-icon style="font-size: 25px;">code</mat-icon>
                        coding
                    </span>
                 </div>              
            </div>
        </mat-card-content>
       
    </mat-card>


</div>