<section class="container-fluid bg-con">
    <mat-card class="bg">
        <mat-card-header>
            <mat-card-title class="header">
                <mat-icon>contacts</mat-icon>Get in touch:&nbsp;
            </mat-card-title>
            <mat-card-content>
                    <span id="phone" class="row"> 
                        <mat-icon style="color: rgba(214, 28, 28, 0.829);"> stay_primary_portrait</mat-icon>
                        +91 9340638936
                    </span>
                    <br>
                    <span id="mail" class="row"> 
                        <mat-icon style="color: rgba(238, 199, 24, 0.829);"> email</mat-icon>
                        jitendra3699p@gmail.com
                    </span>
                    <br>
                    <br>
                    <hr>
                    <h3 style="color: orangered;">Follow on:</h3>
                    <br>
                    
                        <a href="http://www.linkedin.com/in/jitendra-patil-0a93441a1">
                            <img mat-card-md-image src="/assets/template/skills/LinkedIn-Logo.png" />
                        </a>
                        &nbsp;&nbsp;
                        <a href="https://www.instagram.com/patil__jiten/">
                            <img id="imgSize" mat-card-sm-image src="/assets/template/skills/insta.png" />
                        </a>
                    
            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <div style="padding-bottom: 2%;"></div>
</section>