
        
    <div class="skills" style="width: 100%; height: 100%;">
        <img loading="lazy" class="background" src="/assets/template/welcome/illustration-back.png" alt="Background circle"/>
        <img loading="lazy" class="skill-icon first" src="/assets/template/welcome/icons/docker.svg" alt="Docker"/>
        <img loading="lazy" class="skill-icon second" src="/assets/template/welcome/icons/css3.svg" alt="CSS3"/>
        <img loading="lazy" class="skill-icon third" src="/assets/template/welcome/icons/git.svg" alt="Git"/>
        <img loading="lazy" class="skill-icon fourth" style="opacity: 150%;" src="/assets/template/welcome/icons/java.svg" alt="JAVA"/>
        <img loading="lazy" class="skill-icon fifth" src="/assets/template/welcome/icons/sql.svg" alt="SQL"/>
        <img loading="lazy" class="skill-icon sixth" style="opacity: 40%;" src="/assets/template/welcome/icons/angular-icon.svg" alt="PHP"/>
        <img loading="lazy" class="skill-icon seventh" src="/assets/template/welcome/icons/html5.svg" alt="HTML5"/>
        
    </div> 
